.menor{
	color: red;
	font-weight: 600;
}

.mayor{
	color: blue;
}

.btn{
	color: #ffffff;
	background: #019b01;
	border-radius: 4px;
	border: 1px solid green;
	padding: 10px 20px;
	margin: 15px 0px;
}

.mensaje{
	color: #402600;
	background: #ff9800;
	border-radius: 4px;
	border: 1px solid #a96500;
	padding: 10px 20px;
	margin: 15px 0px;
}